extends ../shared/layout
block main-content
    table(class="table table-striped table-hover ")
        thead
            tr
                th #
                th #
                th #
         tbody
            each user in users
                tr
                    td=user.username
        
    
    include ../shared/paginate