<!-- Responsive slider - START -->
<div class="responsive-slider-parallax" data-spy="responsive-slider" data-parallax="true" data-parallax-direction="-1" data-transitiontime="1000" data-autoplay="true">
  <div class="slides-container" data-group="slides">
    <ul>
      <li>
        <div class="slide-body" data-group="slide">
          <div class="container">
            <div class="wrapper">
              <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="0" data-length="300">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="slide-body" data-group="slide">
          <div class="container">
            <div class="wrapper">
              <div class="caption header text-center" data-animate="slideAppearUpToDown" data-delay="0" data-length="300">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="slide-body" data-group="slide">
          <div class="container">
            <div class="wrapper">
              <div class="caption header text-right" data-animate="slideAppearDownToUp" data-delay="0" data-length="300">
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <a class="slider-control left hidden-xs hidden-sm" data-jump="prev"><i class="fa fa-angle-left"></i></a>
  <a class="slider-control right hidden-xs hidden-sm" data-jump="next"><i class="fa fa-angle-right"></i></a>
  <div class="pages-wrapper background-black">
    <ol class="pages">
      <li><a data-jump-to="1">1</a></li>
      <li><a data-jump-to="2">2</a></li>
      <li><a data-jump-to="3">3</a></li>
    </ol>
  </div>
</div>
<!-- Responsive slider - END -->

<!-- Component: index/info-thumbnails.html - START -->
<section class="background-white color-black" data-control="class">
  <div class="container">
      <div class="center">
        <a class="info-thumbnail-link">
          <div class="thumbnail info-thumbnail">
            <div class="caption">
              <h3><span class="fa fa-plane color-lead "></span> Летящи камери под наем
                </h3>
              <h4>
                <span>Мултикоптери / дрони / куадрокоптери
                за въздушни снимки</span>
              </h4>
              <p class="description">
                сватбени и абитуриентски тържества; <br/>
                фирмени партита на открито;<br/>
                рекламни клипове и фотографии на хотели, заведения, комплекси;<br/>
                музикални клипове, телевизионна и фото реклама;<br/>
                заснемане на митинги и други публични събития;<br/>
                кадастрално заснемане<br/>

                ... и какво ли още не - всичко е във Вашата фантазия. Изпълнението е от нас!<br/>
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
</section>
<!-- Component: index/info-thumbnails.html - END -->

<!-- Component: index/info-row.html - START -->
<section class="background-belize-hole color-white" data-control="class" data-class-prefix="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="info-row">
          <div class="content info">
            <h1 class="info-head"><span>Info</span></h1>
            <p>Предлагаме под наем летателни апарати с дистанционно управление (с оператор)
              за въздушни фотографии и видео заснемане с високо качество.
              Достъпни цени от 100 лв.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Component: index/info-row.html - END -->

<!-- TODO: remove this script from here  -->
  <script src="contents/js/responsive-slider.js"></script>
