<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><span>Contact us</span></h1>
           <div class="col-md-10 col-md-offset-1" >
             <iframe id="ytplayer" type="text/html" width="800" height="600"
  src="https://www.youtube.com/embed/{{this}}"
  frameborder="0"/>
           </div>
      </div>
    </div>
  </div>
</section>
