<!-- Breadcrumbs - START -->
<div class="breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">About us</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->
  <div class="container" style="padding:50px">
    <h2>Admin</h2>

  <h3>register</h3>
  <input type="text" id="reg-username" placeholder="username">
  <input type="text" id="reg-password" placeholder="password">
  <input type="text" id="reg-email" placeholder="email">
  <input type="button" id="register" value="register">

  <h3>login / logout</h3>
  <input type="text" id="log-username" placeholder="username">
  <input type="text" id="log-password" placeholder="password">
  <input type="button" id="login" value="login">
  <input type="button" id="logout" value="logout">

  <h3>create video</h3>
  <input type="text" id="video-name" placeholder="name">
  <input type="button" id="create-video" value="Create video">

  <h3>Create image</h3>
    <input type="text" id="tb-title" placeholder="title"/>
  <input type="file" name="image" id="img-file" placeholder="image"/>
  <input type="button" id="add-img" value="add image"/>

  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script>
    'use strict';
    function post (url, data) {
      $.ajax({
        url: url,
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
        headers :{
              'x-auth-key': identity.getToken()
        },
        success: function (data) {
          console.log(JSON.stringify(data));
        },
        error: function (error) {
          console.log(JSON.stringify(error));
        }
      });
    }

    function postImage(url, data) {
      $.ajax({
        url: url,
        method: 'POST',
        data: data,
        headers :{
              'x-auth-key': identity.getToken()
        },
        processData: false,  // tell jQuery not to process the data
        contentType: false,   // tell jQuery not to set contentType
        success: function (data) {
        },
        error: function (error) {
        }
      });
    }

    $('#register').on('click', function() {
      var username = $('#reg-username').val();
      var password = $('#reg-password').val();
      var email = $('#reg-email').val();
      var user = {
        username: username,
        password: CryptoJS.SHA1(password).toString(),
        email: email
      };
      console.log(user);
     post('api/register', user);
    });

    $('#login').on('click', function() {
      var username = $('#log-username').val();
      var password = $('#log-password').val();
      var user = {
        username: username,
        password: CryptoJS.SHA1(password).toString()
      };
      post('/login', user);
    });
    $('#logout').on('click', function() {
      post('http://localhost:3030/logout');
    });

    //create video
    $('#create-video').on('click', function() {
      var name = $('#video-name').val();
      var video = {
        name: name
      };
      post('/api/video', video);
    });

    //add  img
    $('#add-img').on('click', function() {
      var form = new FormData($('#img-file')[0]);
      var file = $('#img-file')[0].files[0];
       form.append('image', file);
       form.append('title', $('#tb-title').val());
       console.log(form);
      postImage('/api/image', form);
    });
  </script>
    </div>
