extends ../shared/layout
block main-content
    form(method="post")
        label(for="username") Upload Image
        input(id="image" type="file" name="image" placeholder="image" class ="form-control")
        br

        input(type="submit" value="Submit" class="btn btn-lg")