<div ng-repeat="image in images">
    <div class="col-sm-6 col-md-4">
        <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail background-clouds color-text">
                <div class="service">
                    <div class="service-name"><h3></h3>

                        <p></p>
                        <a class="btn btn-service" href="img/fullSize/{{image.fileName}}" rel="prettyPhoto">View</a>
                    </div>
                </div>
                <img src="img/thumbs/{{image.fileName}}" alt="{{image.title}}"/></a>
            </div>
        </div>
    </div>
</div>
