extends ../shared/layout
block main-content
    
    div.example
        h1.text-center
            | files
        div.row
            div.col-md-3.jumbotron
                div#fileTreeDemo_1
            div.col-md-9
               div.row
                  nav.navbar.navbar-default
                    .container-fluid
                        .navbar-header
                            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false")
                                span(class="sr-only" Toggle navigation)
                                span(class="icon-bar")
                                span(class="icon-bar")
                                span(class="icon-bar")
                            a.navbar-brand(id="back" class="glyphicon glyphicon-arrow-left")
                            a.navbar-brand(id="forward" class="glyphicon glyphicon-arrow-right")
                            a.navbar-brand(class="glyphicon glyphicon-folder-open" data-toggle="modal" data-target="#folder-name")
                            a.navbar-brand(class="glyphicon glyphicon-cloud-upload" data-toggle="modal" data-target="#myModal")
                        .collapse.navbar-collapse.pull-right#navbar-collapse-1
                   
               div#file-view
               
      nav(id="context-menu" class="context-menu")
        ul(class="context-menu__items")
            li(class="context-menu__item")
                a(href="#" class="context-menu__link" data-action="Edit")
                    i(class="fa fa-edit")
                    | Rename 
            li(class="context-menu__item")
                a(href="#" class="context-menu__link" data-action="Delete")
                    i(class="fa fa-times")
                    | Delete 
    
      div.row       
            <!-- Modal Create -->
        div(id="folder-name" class="modal fade" role="dialog")
            div(class="modal-dialog")
                <!-- Modal content-->
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal")
                            | &times;
                        h4(class="modal-title text-center")
                            | Create Folder
                    div(class="modal-body")
                    div.form-group.col-md-8
                        input(class="form-control" id="dir-name" placeholder="Directory Name" required="required" type="text")
                    div(class="modal-footer")
                     button(id="create-dir" type="button" class="btn btn-default" data-dismiss="modal")
                            | Ok
                        button(id="cancel-dir" type="button" class="btn btn-default" data-dismiss="modal")
                            | Cancel

    div.row       
            <!-- Modal rename-->
        div(id="rename-modal" class="modal fade" role="dialog")
            div(class="modal-dialog")
                <!-- Modal content-->
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal")
                            | &times;
                        h4(class="modal-title text-center")
                            | Rename Folder
                    div(class="modal-body")
                    div.form-group.col-md-8
                        input(class="form-control" id="dir-name" type="text" required)
                    div(class="modal-footer")
                     button(id="rename" type="button" class="btn btn-default" data-dismiss="modal")
                            | Ok
                        button(id="cancel-rename" type="button" class="btn btn-default" data-dismiss="modal")
                            | Cancel

    div.row       
            <!-- Modal -->
        div(id="myModal" class="modal fade" role="dialog")
            div(class="modal-dialog")
                <!-- Modal content-->
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal")
                            | &times;
                        h4(class="modal-title")
                            | File Upload
                    div(class="modal-body")
                    form(id="fileupload" action="/api/upload" method="POST" enctype="multipart/form-data")
                         span(class="col-md-3 btn btn-success fileinput-button")
                            i(class="glyphicon glyphicon-plus")
                            span
                                | Add files...
                            input(id="fileupload" type="file" name="files[]" multiple)
                         button(type="submit" class="col-md-3 col-md-offset-1 btn btn-primary start")
                            i(class="glyphicon glyphicon-upload")
                            span
                                | Start upload
                         br
                        div(id="progress" class="progress")
                            div(class="progress-bar progress-bar-success")
                            <!-- The container for the uploaded files -->
                        div.container
                            div(id="files" class="files")
                            br
                       
                    div(class="modal-footer")
                        button(type="button" class="btn btn-default" data-dismiss="modal")
                            | Close

    div.row       
            <!-- Modal -->
        div(id="myModal" class="modal fade" role="dialog")
            div(class="modal-dialog")
                <!-- Modal content-->
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal")
                            | &times;
                        h4(class="modal-title")
                            | File Upload
                    div(class="modal-body")
                         
                       
                    div(class="modal-footer")
                        button(type="button" class="btn btn-default" data-dismiss="modal")
                            | Close


    div(id="current-dir-name" style="display:none")   

block page-scripts
    script(type="text/javascript" src="/contents/js/jquery.easing.js")
    script(type="text/javascript" src="/contents/custom/file-explorer/jqueryFileTree.js")
    script(type="text/javascript" src="/contents/custom/file-explorer/file-view.js")
    script(type="text/javascript" src="/contents/custom/file-explorer/file-tree.js")
    script(type="text/javascript" src="/contents/custom/contex-menu/contex-menu.js")
    
    script(type="text/javascript" src="/bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js")
    script(type="text/javascript" src="/bower_components/blueimp-file-upload/js/jquery.fileupload.js")
    script(type="text/javascript" src="/bower_components/blueimp-file-upload/js/jquery.fileupload-process.js")
    script(type="text/javascript" src="/contents/custom/file-upload/file-upload.js")