<!-- Breadcrumbs - START -->
<div class="breadcrumbs-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Portfolio</li>
            <li class="active">Portfolio Item</li>
        </ol>
    </div>
</div>
<!-- Breadcrumbs - END -->

<!-- Component: portfolio/portfolio.html - START -->
<section class="">
    <div class="container">
        <h1><span>Portfolio</span></h1>

        <div class="row">
          {{#each this.images}}
            <div class="col-sm-6 col-md-4">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail background-clouds color-text">
                        <div class="service">
                            <div class="service-name"><h3></h3>

                                <p></p>
                                <a class="btn btn-service" href="img/fullSize/{{fileName}}" rel="prettyPhoto">View</a>
                            </div>
                        </div>
                      <img src="img/thumbs/{{fileName}}"  alt="{{title}}" /></a>
                        <!-- <img class="round" src="contents/img/placeholder-annency-rect.jpg" alt="..."> -->
                    </div>
                </div>
            </div>
            {{/each}}
    </div>
</section>
<!-- Component: portfolio/portfolio.html - END -->

<!-- Component: portfolio/portfolio-alt1.html - START -->
<section class="">
    <div class="container">
        <h1><span>Видео</span></h1>
        <div class="row">
            {{#each this.video}}
          <div class="col-sm-6 col-md-4">
              <div class="info-thumbnail-link">
                  <div class="thumbnail info-thumbnail background-clouds color-text">
                      <div class="service">
                          <div class="service-name">
                              <button class="btn btn-service video" data-id="{{name}}">Гледай</button>
                          </div>
                      </div>
                      <img class="round" src="http://img.youtube.com/vi/{{name}}/0.jpg" alt="...">
                  </div>
              </div>
          </div>
            {{/each}}
        <!-- another video  -->
            </div>
</section>
<!-- Component: portfolio/portfolio-alt1.html - END -->
